<!-- <p-button label="Onboard Tour" styleClass="p-button-sm" (click)="tourService.start()" tourAnchor="start.tour"></p-button> -->
<div tourAnchor="start.tour"></div>

<app-progress
    [currentCategory]="this.currentCategory"
    (changedTopic)="changedTopic($event)"
    tourAnchor="question.progressbar">
</app-progress>
<app-question
    [disableBackButton]="this.indexCategory == 0 && this.indexQuestion == 0"
    [question]="this.allCategoryQuestion[this.indexQuestion]"
    [weightsEnabled]="this.weightsEnabled"
    (nextButton)="nextButtonClicked($event)"
    (previousButton)="previousButtonClicked($event)"
    (boostButton)="boostButtonClicked($event)"
    (selectionChanged)="persistChoice($event)"
    (showWeightsModal)="this.weightsVisible = true;"
    (startTourEvent)="startTour()"
    (resetSurveyEvent)="resetSurvey()">
</app-question>

<p-confirmDialog
    id="enableWeightsModal"
    [style]="{width: '50vw'}"
    [visible]="enableWeightsVisible"
    header="Individuelle Fragengewichtung aktivieren?"
    message="Durch das Aktivieren können Fragegruppen (Dimensionen), sowie einzelne Fragen mit einem Multiplikator versehen werden.
            Standardmäßig ist bereits eine Gewichtung vorgenommen, welche somit individuell angepasst werden kann."
    icon="pi pi-cog"
>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="Nein" (click)="toggleWeights(false)"></button>
        <button type="button" pButton icon="pi pi-check" label="Ja" (click)="toggleWeights(true)"></button>
    </ng-template>
</p-confirmDialog>

<p-dialog
    id="weightsModal"
    [modal]="true"
    [(visible)]="weightsVisible"
    [breakpoints]="{ '960px': '75vw', '668px': '90vw' }"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
    [closable]="false"
>
    <ng-template pTemplate="header">
        <div class="flex align-items-center">
            <h3>Gewichtung von Dimensionen</h3>
            <p-inputSwitch [(ngModel)]="this.weightsEnabled" class="ml-3" (onChange)="toggleWeights(this.weightsEnabled)"></p-inputSwitch>
        </div>
    </ng-template>
    <div class="mb-5">
        <p>
            Es können einzelne Gewichtungen für die 5 Dimensionen des Reifegradmodells eingestellt werden (Multiplikator von x1 - x2).
            Die Dimensionen fassen mehrere Fragen zusammen und betrachten immer einen Hauptaspekt des Reifegrades im Unternehmen.
        </p>
        <p>
            Zusätzlich können individuelle Fragen über den <i class="pi pi-bolt"></i>-Button mit einem x2-Multiplikator versehen werden.
        </p>
    </div>
    <div class="slider-wrapper">
        <strong class="text-xl">Prozesse</strong>
        <div class="flex justify-content-between">
            <p class="text-sm mt-0 mr-4">Hier werden die Entwicklungsprozesse innerhalb der Projektteams betrachtet.</p>
            <strong class="text-xl" style="color: rgba(0, 90, 201, 1)"> x{{ dimensionWeights['processes'] }}</strong>
        </div>
        <p-slider [(ngModel)]="dimensionWeights['processes']" [step]="0.1" [min]="1" [max]="2" [disabled]="!this.weightsEnabled"></p-slider>
    </div>
    <div class="slider-wrapper">
        <strong class="text-xl">Organisation</strong>
        <div class="flex justify-content-between">
            <p class="text-sm mt-0 mr-4">In der Agilen Softwareentwicklung wird viel wert auf Selbstorganisation der Teams gelegt.</p>
            <strong class="text-xl" style="color: rgba(0, 90, 201, 1)"> x{{ dimensionWeights['organisation'] }}</strong>
        </div>
        <p-slider [(ngModel)]="dimensionWeights['organisation']" [step]="0.1" [min]="1" [max]="2" [disabled]="!this.weightsEnabled"></p-slider>
    </div>
    <div class="slider-wrapper">
        <strong class="text-xl">Technologie</strong>
        <div class="flex justify-content-between">
            <p class="text-sm mt-0 mr-4">Dieser Bereich betrachtet die effektive Nutzung von Organisationstools in den Teams.</p>
            <strong class="text-xl" style="color: rgba(0, 90, 201, 1)"> x{{ dimensionWeights['technology'] }}</strong>
        </div>
        <p-slider [(ngModel)]="dimensionWeights['technology']" [step]="0.1" [min]="1" [max]="2" [disabled]="!this.weightsEnabled"></p-slider>
    </div>
    <div class="slider-wrapper">
        <strong class="text-xl">Skills & Kultur</strong>
        <div class="flex justify-content-between">
            <p class="text-sm mt-0 mr-4">Hier werden die zwischenmenschlichen Aspekte der Zusammenarbeit abgefragt.</p>
            <strong class="text-xl" style="color: rgba(0, 90, 201, 1)"> x{{ dimensionWeights['skills_culture'] }}</strong>
        </div>
        <p-slider [(ngModel)]="dimensionWeights['skills_culture']" [step]="0.1" [min]="1" [max]="2" [disabled]="!this.weightsEnabled"></p-slider>
    </div>
    <div class="slider-wrapper">
        <strong class="text-xl">Strategie</strong>
        <div class="flex justify-content-between">
            <p class="text-sm mt-0 mr-4">Dieser Bereich betrachtet die unternehmensweite Strategie im Bezug auf agile Entwicklungen.</p>
            <strong class="text-xl" style="color: rgba(0, 90, 201, 1)"> x{{ dimensionWeights['strategy'] }}</strong>
        </div>
        <p-slider [(ngModel)]="dimensionWeights['strategy']" [step]="0.1" [min]="1" [max]="2" [disabled]="!this.weightsEnabled"></p-slider>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-undo" (click)="this.dimensionWeights = this.initialWeights()" label="Zurücksetzen" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-save" (click)="saveWeights()" label="Speichern" styleClass="p-button"></p-button>
    </ng-template>
</p-dialog>

<tour-step-template></tour-step-template>