.header {
  color: white;
  background-image: linear-gradient(to right, rgb(0, 55, 167), rgb(4, 138, 223));
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.chartdiv{
  display: flex;

  #chart{
    width: 80%;
  }
}


.mycontent{
  .p-accordion-content{
    padding: 0px 1.25rem !important;
  }
}

.wbtn {
  button{
    background: red !important;
  }
}

.ui-button.whiteButton {
  background-color: orange;
}
