<!-- Team Overview -->
<h2 class="team-title">TEAM</h2>


<div class="grid">
    <div class="col-12 md:col-6">
        <div class="person-card">
            <div class="person-picture">
                <img src="../../assets/images/profile_pic_jan.png" alt="Person Image" oncontextmenu="return false;" />
            </div>
            <div class="person-details">
                <h3 class="person-name">Jan Distler</h3>
                <p class="study-programme">Master Informatik</p>
                <p class="personal-info">ICS-Student bei Elektrobit Automotive GmbH als Software Engineer</p>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6">
        <div class="person-card">
            <div class="person-picture">
                <img src="../../assets/images/profilbild_philipp.jpg" alt="Person Image" oncontextmenu="return false;" />
            </div>
            <div class="person-details">
                <h3 class="person-name">Philipp Jäger</h3>
                <p class="study-programme">Master Medieninformatik</p>
                <p class="personal-info">Studium im Bereich der Medieninformatik</p>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6">
        <div class="person-card">
            <div class="person-picture">
                <img src="../../assets/images/profilbild_lukas.jpeg" alt="Person Image" oncontextmenu="return false;" />
            </div>
            <div class="person-details">
                <h3 class="person-name">Lukas Kleinlein</h3>
                <p class="study-programme">Master Medieninformatik</p>
                <p class="personal-info">Studium im Bereich der Medieninformatik</p>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6">
        <div class="person-card">
            <div class="person-picture">
                <img src="../../assets/images/profilbild_vedat.jpg" alt="Person Image" oncontextmenu="return false;" />
            </div>
            <div class="person-details">
                <h3 class="person-name">Vedat Senturk</h3>
                <p class="study-programme">Master Medieninformatik</p>
                <p class="personal-info">Studium im Bereich der Medieninformatik</p>
            </div>
        </div>
    </div>
</div>

<!-- Project Description -->
<h2 class="project-title">PROJEKT</h2>

<div class="project-description">
    <p>Dieses Projekt wurde im Rahmen des Masters in
        Informatik/Medieninformatik/Wirtschaftsinformatik an der TH-Nürnberg Georg-Simon-Ohm durchgeführt.</p>
    <p>Die Betreuung für dieses Projekt übernahm <a href="https://www.th-nuernberg.de/person/lang-michael/"
            class="nice-link" target="_blank">Prof. Dr. Michael Lang</a>.</p>
</div>

<div class="grid">
    <div class="col-12 md:col-4">
        <div class="technology-card">
            <div class="technology-picture">
                <a href="https://angular.io/" target="_blank"><img src="../../assets/images/Angular_full_color_logo.png"
                        alt="PrimeNG Image" /></a>
            </div>
            <div class="technology-details">
                <h3 class="technology-name">Angular</h3>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-4">
        <div class="technology-card">
            <div class="technology-picture">
                <a href="https://www.typescriptlang.org/" target="_blank"><img src="../../assets/images/ts-logo-512.png"
                        alt="TypeScript Image" /></a>
            </div>
            <div class="technology-details">
                <h3 class="technology-name">TypeScript</h3>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-4">
        <div class="technology-card">
            <div class="technology-picture">
                <a href="https://primeng.org/" target="_blank"><img src="../../assets/images/primeng-logo.png"
                        alt="PrimeNG Image" /></a>
            </div>
            <div class="technology-details">
                <h3 class="technology-name">PrimeNG</h3>
            </div>
        </div>
    </div>
</div>
