<div class="md:mb-8">
    <p-card>
        <div class="flex justify-content-between">
            <h2 class="m-0">
                {{this.question.title}}
            </h2>
            <p-toggleButton
                *ngIf="weightsEnabled"
                [(ngModel)]="boosted"
                onIcon="pi pi-bolt"
                offIcon="pi pi-bolt"
                styleClass="p-button-rounded"
                pTooltip="Fragemultiplikator erhöhen"
                (click)="boostClicked()"
            ></p-toggleButton>
        </div>
    </p-card>
</div>
<div class="md:mb-8">
    <p-card>
        <div class="flex flex-column gap-3">
            <div *ngFor="let answer of this.question.answers; last as isLast; index as idx;">
                <div class="field-checkbox">
                    <p-radioButton [inputId]="answer.score.toString()" name="category" [value]="idx"
                    [(ngModel)]="selectedChoice" (onClick)="selectionRadioChanged()"></p-radioButton>
                    <label [for]="answer.score" class="ml-2">{{ answer.text }}</label>
                </div>
                <p-divider *ngIf="!isLast"></p-divider>
            </div>
        </div>
    </p-card>
</div>
<div class="flex justify-content-between">
    <p-button (onClick)="previousButtonClicked()" label="Zurück" [disabled]="disableBackButton" styleClass="p-button-secondary" ></p-button>
    <p-button (click)="showDialog()" icon="pi pi-sliders-h" label="" styleClass="p-button-secondary"></p-button>
    <p-button label="Weiter" (click)="nextButtonClicked()"></p-button>
</div>
<div style="margin-top: 15px;">
  <p-button class="absolute right-0" label="Direkt zur Auswertung" (click)="navigateToResult()"></p-button>
</div>
