<div class="md:mb-8" tourAnchor="question.title">
    <p-card>
        <div class="flex justify-content-between">
            <h2 class="m-0">
                {{this.question.title}}
            </h2>
            <p-toggleButton
                *ngIf="weightsEnabled"
                [(ngModel)]="boosted"
                onIcon="pi pi-bolt"
                offIcon="pi pi-bolt"
                styleClass="p-button-rounded"
                pTooltip="Fragemultiplikator erhöhen"
                (click)="boostClicked()"
            ></p-toggleButton>
        </div>
    </p-card>
</div>
<div class="md:mb-8" tourAnchor="question.answers">
    <p-card>
        <div class="flex flex-column gap-3">
            <div *ngFor="let answer of this.question.answers; last as isLast; index as idx;">
                <div class="field-checkbox">
                    <p-radioButton [inputId]="answer.score.toString()" name="category" [value]="idx"
                    [(ngModel)]="selectedChoice" (onClick)="selectionRadioChanged()"></p-radioButton>
                    <label [for]="answer.score" class="ml-2">{{ answer.text }}</label>
                </div>
                <p-divider *ngIf="!isLast"></p-divider>
            </div>
        </div>
    </p-card>
</div>
<div class="flex justify-content-between">
    <p-button (onClick)="previousButtonClicked()" label="Zurück" [disabled]="disableBackButton" styleClass="p-button-secondary" tourAnchor="question.button.prev"></p-button>
    <!-- <p-button (click)="showDialog()" icon="pi pi-sliders-h" label="" styleClass="p-button-secondary" tourAnchor="question.button.weights"></p-button> -->
    <div tourAnchor="question.button.menu" style="height: 64px; width: 64px;">
        <p-speedDial [model]="dialItems" direction="down" 
                    [radius]="80" type="semi-circle" 
                    showIcon="pi pi-bars" hideIcon="pi pi-times"
                    buttonClassName="p-button-sm"
                    ></p-speedDial>
    </div>
    <p-button label="Weiter" (click)="nextButtonClicked()" tourAnchor="question.button.next"></p-button>
</div>
<!-- <div style="margin-top: 15px;">
  <p-button class="absolute right-0" label="Direkt zur Auswertung" (click)="navigateToResult()" tourAnchor="question.button.toresult"></p-button>
</div> -->
