<div class="impressum-text">

  <h1>Impressum</h1>
  Online-Self-Assessment-Tool über„Agile Softwareentwicklung“

  <h2>Verantwortlich für den Inhalt:</h2>
  <p>Studenten: Philipp Jäger, Jan Distler, Lukas Kleinlein, Vedat Senturk<br>
    Betreuer: Prof. Michael Lang<br>
  </p>

  <h2>Kontakt:</h2>
  Technische Hochschule Nürnberg Georg-Simon-Ohm | Fakultät Informatik<br>
  Hohfederstraße 40<br>
  90489 Nürnberg<br>
  <p>E-Mail: <a href="mailto:michael.lang@th-nuernberg.de">michael.lang@th-nuernberg.de</a>,
    <a href="mailto:jaegerph69610@th-nuernberg.de">jaegerph69610@th-nuernberg.de</a>,
    <a href="mailto:distlerja75498@th-nuernberg.de">distlerja75498@th-nuernberg.de</a>,
    <a href="mailto:kleinleinlu92539@th-nuernberg.de">kleinleinlu92539@th-nuernberg.de</a>,
    <a href="mailto:senturkve74931@th-nuernberg.de">senturkve74931@th-nuernberg.de</a></p>

  <h2>Haftungsausschluss:</h2>
  <p>Die Inhalte dieses Studentenprojekts wurden sorgfältig recherchiert und zusammengestellt. Dennoch übernehmen wir
    keine Gewähr für die Richtigkeit, Vollständigkeit und Aktualität der Informationen. Jegliche Haftung für Schäden,
    die direkt oder indirekt aus der Nutzung dieser Projektseite entstehen, wird ausgeschlossen.</p>

  <h2>Urheberrecht:</h2>
  <p>Die auf dieser Projektseite verwendeten Texte, Bilder und Grafiken sind urheberrechtlich geschützt. Die Verwendung,
    Reproduktion oder Verbreitung dieser Inhalte bedarf der ausdrücklichen schriftlichen Genehmigung durch den
    Verantwortlichen.</p>

  <h2>Externe Links:</h2>
  <p>Diese Projektseite enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Für die
    Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Eine
    permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung
    nicht zumutbar. Bei bekannt werden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>

  <h2>Datenschutzerklärung</h2>
  <h3>Personenbezogene Daten</h3>
  <p>Personenbezogene Daten sind alle Informationen, die sich auf eine identifizierte oder identifizierbare natürliche Person (im Folgenden "betroffene Person") beziehen. Als identifizierbar wird eine natürliche Person angesehen, die direkt oder indirekt, insbesondere mittels Zuordnung zu einer Kennung wie einem Namen, zu einer Kennnummer, zu Standortdaten, zu einer Online-Kennung oder zu einem oder mehreren besonderen Merkmalen identifiziert werden kann, die Ausdruck der physischen, physiologischen, genetischen, psychischen, wirtschaftlichen, kulturellen oder sozialen Identität dieser natürlichen Person sind.</p>
  <h3>Daten beim Websiteaufruf</h3>
  <p>Wenn Sie diese Website nur nutzen, um sich zu informieren und keine Daten angeben, dann verarbeiten wir nur die Daten, die zur Anzeige der Website auf dem von Ihnen verwendeten internetfähigen Gerät erforderlich sind. Das sind insbesondere:</p>
  <ul>
    <li>IP-Adresse</li>
    <li>Datum und Uhrzeit der Anfrage</li>
    <li>jeweils übertragene Datenmenge</li>
    <li>die Website, von der die Anforderung kommt</li>
    <li>Browsertyp und Browserversion</li>
    <li>Betriebssystem</li>
  </ul>
  <p>Rechtsgrundlage für die Verarbeitung dieser Daten sind berechtigte Interessen gemäß Art. 6 Abs. 1 UAbs. 1 Buchstabe f) DSGVO, um die Darstellung der Website grundsätzlich zu ermöglichen.</p>
  <p>Darüber hinaus können Sie verschiedene Leistungen auf der Website nutzen, bei der weitere personenbezogene und nicht personenbezogene Daten verarbeitet werden.</p>
  <h3>Ihre Rechte</h3>
  <p>Als betroffene Person haben Sie folgende Rechte:</p>
  <ul>
    <li>Sie haben ein Auskunftsrecht bezüglich der Sie betreffenden personenbezogenen Daten, die der Verantwortliche verarbeitet (Art. 15 DSGVO),</li>
    <li>Sie haben das Recht auf Berichtigung der Sie betreffenden Daten, wenn diese unrichtig oder unvollständig gespeichert werden (Art. 16 DSGVO),</li>
    <li>Sie haben das Recht auf Löschung (Art. 17 DSGVO),</li>
    <li>Sie haben das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen (Art. 18 DSGVO),</li>
    <li>Sie haben das Recht auf Datenübertragbarkeit (Art. 20 DSGVO),</li>
    <li>Sie haben ein Widerspruchsrecht gegen die Verarbeitung Sie betreffender personenbezogener Daten (Art. 21 DSGVO),</li>
    <li>Sie haben das Recht nicht einer ausschließlich auf einer automatisierten Verarbeitung – einschließlich Profiling – beruhenden Entscheidung unterworfen zu werden, die Ihnen gegenüber rechtliche Wirkung entfaltet oder sie in ähnlicher Weise erheblich beeinträchtigt (Art. 22 DSGVO),</li>
    <li>Sie haben das Recht, sich bei einem vermuteten Verstoß gegen das Datenschutzrecht bei der zuständigen Aufsichtsbehörde zu beschweren (Art. 77 DSGVO). Zuständig ist die Aufsichtsbehörde an Ihrem üblichen Aufenthaltsort, Arbeitsplatz oder am Ort des vermuteten Verstoßes.</li>
  </ul>
  <p>Quelle: <a href="https://www.anwalt.de/vorlage/muster-datenschutzerklaerung.php" rel="nofollow">Muster-Datenschutzerklärung von anwalt.de</a></p>


</div>
