<div id="navbar" class="md:mb-8">
    <div class="xl:col-8 xl:col-offset-2 flex justify-content-between align-items-center">
        <!-- LOGO -->
        <div id="home-link" class="flex align-items-center" (click)="navigateHome()">
            <img src="/assets/images/ai-generated-logo-mock.png" height="60" class="mr-2" />
            <h1>
                <span>how</span>
                <span>agile</span>
            </h1>
        </div>
        <!-- Links -->
        <section id="nav-links">
            <a routerLink="survey" class="ml-8">Jetzt ausprobieren</a>
            <a routerLink="about" class="ml-8">Über uns</a>
        </section>
    </div>
</div>
<!-- grid columns for centering content -->
<div class="grid grid-nogutter">
    <div class="xl:col-8 xl:col-offset-2">
        <router-outlet></router-outlet>
    </div>
</div>