#navbar {
    background-color: white;
    box-shadow: 0px 8px 20px #d7d7d757;
    position: sticky;
    top: 0;
    z-index: 100;
}

#home-link {
    cursor: pointer;
}
#home-link :first-child {
    color: var(--main-blue);
}

#nav-links > a {
    font-size: 1.3em;
}
