<!-- Hero -->
<div class="hero">
    <div class="hero-text">
        <h1>Wie agil ist Ihre Entwicklung?</h1>
        <p-button label="Finden Sie es heraus!" styleClass="p-button-lg" (click)="navigateSurvey()"></p-button>
    </div>
</div>

<!-- Features -->
<div class="features">
    <div class="flex flex-column gap-3 pb-3">
        <p-card>
            <ng-template pTemplate="header">
                <div class="flex flex-row align-items-center shadow-3 gap-3 p-3">
                    <i class="pi pi-check-circle"></i>
                    <h2>Schnell & Einfach</h2>
                </div>
            </ng-template>
            <p>Mit unserem Fragebogen ist es jetzt so einfach wie noch nie, mehr über dein Unternehmen und dessen
                Stärken
                und Schwächen zu erfahren.</p>
            <p>Unser Fragebogen ist <b>einfach</b> zu verstehen und in <b>wenigen
                    Minuten</b> ausgefüllt - du benötigst dazu <b>keine Anmeldung</b> und nur ein <b>paar Klicks</b>.
            </p>
            <p>Das Beste daran: unser Fragebogen ist auch mit einem Smartphone ausfüllbar! Und es werden keine Daten
                gespeichert!</p>
        </p-card>
        <p-card>
            <ng-template pTemplate="header">
                <div class="flex flex-row align-items-center shadow-3 gap-3 p-3">
                    <i class="pi pi-sort"></i>
                    <h2>Individuelle Schwerpunkte</h2>
                </div>
            </ng-template>
            <p>Unser Online-Self-Assessment-Tool bietet dir die Möglichkeit, deine <b>individuellen Schwerpunkte</b> zu
                setzen
                und deine Ergebnisse entsprechend zu bewerten.</p>
            <p>Du kannst die Schwerpunkte <b>selbst definieren</b> und damit sicherstellen, dass die Ergebnisse genau
                auf <b>deine
                    Bedürfnisse</b> zugeschnitten sind.</p>
            <p>Durch das Setzen von Schwerpunkten kannst du bestimmte <b>Themenbereiche stärker gewichten</b> und somit
                den
                Fragebogen <b>individuell anpassen</b>.</p>
        </p-card>
        <p-card>
            <ng-template pTemplate="header">
                <div class="flex flex-row align-items-center shadow-3 gap-3 p-3">
                    <i class="pi pi-chart-pie"></i>
                    <h2>Übersichtliche Ergebnisse</h2>
                </div>
            </ng-template>
            <p>Wir nutzen eine visuelle <b>Netzgraph-Darstellung</b>, die dir auf einen Blick zeigt, wo die Stärken und
                die
                Schwächen des Unternehmens in der agilen Softwareentwicklung liegen.</p>
            <p>Je nach Ergebnis erhältst du <b>individuelles textuelles Feedback</b>, das auf deine Bedürfnisse
                abgestimmt ist.</p>
            <p>Darüber hinaus kannst du deine <b>Ergebnisse exportieren</b> und speichern, um diese später noch einmal
                in Ruhe
                zu betrachten oder mit anderen zu teilen.</p>
        </p-card>
        <p-card>
            <ng-template pTemplate="header">
                <div class="flex flex-row align-items-center shadow-3 gap-3 p-3">
                    <i class="pi pi-users"></i>
                    <h2>In Zusammenarbeit mit Experten</h2>
                </div>
            </ng-template>
            <p>Unser Online-Self-Assessment-Tool wurde nach <b>wissenschaftlicher Recherche</b> und in <b>Zusammenarbeit mit
                Experten</b> entwickelt.</p>
            <p>Wir haben <b>Kontakt zu Experten</b> auf dem Gebiet der agilen Softwareentwicklung aufgenommen und uns mit ihnen
                über die <b>relevanten Faktoren und Methoden</b> ausgetauscht.</p>
            <p>Die <b>Inhalte des Fragebogens</b> wurden sorgfältig ausgewählt und validiert, um sicherzustellen, dass sie den
                <b>neuesten wissenschaftlichen Erkenntnissen</b> entsprechen und praktisch anwendbar sind.</p>
        </p-card>
    </div>
</div>

<p-divider></p-divider>

<!-- Experts -->
<div class="experts">
    <h1 class="flex align-items-center justify-content-center pt-3">Experten</h1>
    <div class="justify-content-center pt-3">
        <p-carousel [value]="experts" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000"
            [responsiveOptions]="responsiveOptions">
            <ng-template let-expert pTemplate="item">
                <div class="expert border-1 surface-border border-round m-2 text-center py-5 px-3">
                    <div class="expert-content">
                        <h1> {{ expert.title }} </h1>
                        <h2> {{ expert.description }} </h2>
                        <h2> {{ expert.link }} </h2>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>

<p-divider></p-divider>

<!-- Call-to-Action -->
<div class="cta mb-3">
    <div class="flex flex-column gap-3 align-items-center">
        <h1>Hier zu den Fragen</h1>
        <p-button label="Los geht's!" icon="pi pi-pencil" iconPos="right" styleClass="p-button-lg p-button-raised"
            (click)="navigateSurvey()"></p-button>
    </div>
</div>